/* Typography */
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  position: relative;
}
@media screen and (min-width: 1200px) {
  body {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color-heading: rgba(22, 37, 66, 1);
  --secondary-color-text: rgba(123, 139, 173, 1);
  --primary-color-button: rgba(241, 103, 24, 1);
  --secondary-color-button: rgba(232, 239, 242, 1);
  --ascent-color-button: rgba(232, 239, 242, 1);
  --color-white: #fff;
}
h1,
h2,
h3 {
  color: var(--primary-color-heading);
  margin: 0;
}
h1 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 4.5rem;
}
h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 900;
}
p {
  font-size: 1.6rem;
  color: var(--secondary-color-text);
}
img {
  width: 100%;
  border-radius: 20px;
}
/* Sections */
.section--one {
  margin-bottom: 2.4rem;
}
/* Navigation bar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2.3rem 2.4rem 6.4rem 2.4rem;
}
.header--logo {
  background-color: var(--primary-color-button);
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
  padding-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navbar {
    margin: 4rem 4rem 6rem 4rem;
  }
}
/* Buttons */
.btn {
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--primary-color-button);
  color: var(--color-white);
  font-size: 1.6rem;
  padding: 9px 14px;
}
.btn--secondary {
  background-color: var(--secondary-color-button);
  color: var(--primary-color-heading);
  font-size: 1.6rem;
  padding: 11px 13.5px;
}
.btn--primary:hover {
  background-color: rgba(255, 155, 98, 1);
}
.btn--secondary:hover {
  background-color: var(--primary-color-heading);
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .btn--primary {
    padding: 1.6rem 2.4rem;
  }
  .btn--secondary {
    padding: 1.6rem 2.7rem;
  }
}
@media screen and (min-width: 900px) {
  .btn--primary {
    padding: 1.6rem 2.4rem;
  }
  .btn--secondary {
    padding: 1.6rem 2.7rem;
  }
}
/* Feature */
.feature__header {
  margin: 2.4rem;
}
.feature__body {
  text-align: left;
}
.feature__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
span {
  color: var(--secondary-color-text);
  font-size: 1.6rem;
  font-weight: bold;
}
.feature__image {
  margin-top: 4rem;
  margin-left: 2.4rem;
}
@media screen and (min-width: 768px) {
  .feature__header {
    margin-left: 3.9rem;
  }
  .feature__image {
    margin-top: 0;
    margin-left: 10rem;
  }
}
@media screen and (min-width: 900px) {
  .feature__footer {
    justify-content: left;
  }
  .feature__image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 16.5rem;
  }
  span {
    margin-left: 4rem;
  }
}
/* Grid Section one*/
.grid {
  display: grid;
}
.grid--1x2-columns {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .grid--1x2-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .grid--1x2-columns {
    align-items: center;
  }
}
/* Grid Section Two and Three */
.grid--2x3 {
  grid-template: repeat(2, 1fr) / 10fr 50fr;
  gap: 2rem;
}
.feature--two-image-two {
  grid-row: 1;
}
.article {
  grid-column: -3 /-1;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .grid--2x2 {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-items: center;
  }
  .article {
    display: flex;
    margin-bottom: 20rem;
  }
  .feature--two-heading {
    text-align: left;
  }
  .feature--two-text {
    text-align: left;
    padding-left: 10rem;
  }
}
@media screen and (min-width: 1200px) {
  .grid--1x3 {
    grid-template-rows: repeat(1, 1fr);
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, auto);
    margin-top: 16.5rem;
  }
  .article {
    grid-column: 3 / 4;
    margin: auto;
    flex-direction: column;
  }
  .feature--two-heading {
    text-align: left;
  }
  .feature--two-text {
    text-align: left;
    padding: 2rem 0 0 4rem;
  }
}
/* Section Two */
.feature--two-image-one {
  height: 100%;
  mix-blend-mode: multiply;
  width: 12.9rem;
}
.feature--two-image-two {
  height: 19.3rem;
  width: 22rem;
  margin-right: 2.4rem;
}
.bg--color {
  border-radius: 0px 20px 20px 0;
  object-fit: cover;
  height: 19.3rem;
  width: 12.9rem;
  margin-left: -2.5rem;
  background-color: var(--primary-color-button);
}
.feature--body {
  text-align: center;
}
.feature--two-heading {
  margin: 0 6rem 0 6rem;
}
.feature--two-text {
  margin: 2.4rem 2.4rem 0 2.4rem;
}
@media screen and (min-width: 768px) {
  .feature--two-image-one {
    width: 21.4rem;
    height: 32rem;
  }
  .feature--two-image-two {
    width: 44.5rem;
    height: 32rem;
  }
  .bg--color {
    margin: 0;
    border-radius: 20px;
    width: 21.4rem;
    height: 32rem;
  }
  .feature--body {
    text-align: left;
  }
  .feature--two-heading {
    margin: 0 2.5rem 0 3.9rem;
  }
  .feature--two-text {
    margin: 0 4rem 0 0;
  }
}
/* Section Three Articles */
.article--one,
.article--two,
.article--three,
.article--four {
  text-align: center;
  margin: 2.4rem;
}
.article__heading {
  margin: 0 6rem 2.4rem 6rem;
}
.article__text {
  margin-bottom: 6.4rem;
}
.article__image {
  width: 6.5rem;
  height: 6.5rem;
  padding: 2.2rem 1.9rem 2.2rem 1.9rem;
  margin-bottom: 4.5rem;
  border-radius: 20px;
  background-color: var(--primary-color-button);
}
@media screen and (min-width: 768px) {
  .article--one,
  .article--two,
  .article--three,
  .article--four {
    text-align: left;
    margin: 0 9.8rem 0 3.9rem;
  }
  .article__heading {
    margin: 0 5rem 0 0rem;
  }
}
@media screen and (min-width: 1200px) {
  .article__heading {
    margin: 0;
  }
}
/* Foooter */
footer {
  margin-top: 14.2rem;
}
.copyright {
  text-align: center;
  font-size: 1.6rem;
  color: var(--secondary-color-text);
}
.coder {
  text-align: center;
}
/* Bacground Gray Square Patterns */
.bg--image-left,
.bg--image-right {
  width: 25.5rem;
  height: 23.6rem;
}
.left--side-bg {
  position: absolute;
  top: 41%;
  left: -23%;
}
.right--side-bg {
  position: absolute;
  top: 6%;
  right: -23%;
}
